.list {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

.action-buttons {
  float: right;
  height: 100%;
  margin: 1px;
}
.clearfix {
  content: "";
  clear: both;
}

#data {
  /*font-weight: bold;*/
  font-family: sans-serif;
  font-size: 20px;
  padding: 5px;
  color: grey;
  width: 80%;
}
